
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.black{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;

position: absolute;
width: 1430px;
height: 1014px;

background: darkorange;
mix-blend-mode: normal;
}