@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Smooch+Sans:wght@400;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
background: #ff9d00;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem{
    height: 75px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-item{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    
}